* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: "AkkuratPro-Regular", Helvetica, Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    color: #000000;
}


/*通用样式，直接引入使用*/
.container {
    margin: 0 auto;
    width: 100%;
}

.default {
    cursor: default;
}

.pointer {
    cursor: pointer;
}

.orange {
    color: #f66f6a;
}

.bg_white {
    background-color: #fff;
}


.nav_height {
    width: 100%;
    line-height: 20px;
    background-color: #000000;
}

.nav_height .container {
    max-width: 1128px;
    line-height: 28px;
}

.nav_height .container span a {
    color: #fff;
    font-size: 13px;
}

.nav_height .container span a .iconfont {
    font-size: 14px;
}

.nav_right {
    float: right;
    line-height: 28px;
}

.nav_right span a {
    color: #fff;
    font-size: 12px;
}

.nav_right span a .iconfont {
    padding: 0 8px;
}

#nav_register {
    color: #ffffff;
    border-left: solid 1px #ffffff;
}

.container_balance {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.container_balance ul {
    padding-right: 60px;
}

.container_balance ul p {
    font-size: 14px;
}

#GroupWebsite {
    display: none;
}

#language {
    display: none;
}

.language_head .iconfont {
    font-size: 18px;
}

.languageContent {
    padding: 40px 0;
}

.languageFont {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    padding-top: 0 !important;
}

.languageFont a {
    text-decoration: underline;
    color: #000000;
}

.languageContent .container_balance {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.languageContent .container_balance ul {
    padding-top: 20px;
}

.nav {
    height: 74px;
    background: #fff;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    z-index: 100;
}
#nav_container{
    width: 100%;
    top: 28px;
    z-index: 1000;
    position: fixed;
}
#nav .container {
    max-width: 1128px;
    line-height: 74px;
    position: relative;
}

#nav .container .nav_content img {
    width: 133px;
    height: 30px;
    padding: 22px 60px 22px 0;
    display: inline-block;
}

#nav .container .nav_content {
    display: flex;
    width: 100%;
}

#nav .container .nav_content ul {
    overflow: hidden;
}

#nav .container .nav_content ul li {
    list-style: none;
    float: left;
    padding-right: 30px;
}

#nav .container .nav_content ul li a {
    color: #000000;
    padding-left: 19px;
    font-size: 18px;
    font-family: Microsoft YaHei, Arial, Helvetica, sans-serif !important;
}

#nav .container .nav_content .DemarcationLine {
    width: 2px;
    height: 60%;
    background-color: gray;
    display: inline-block;
    position: relative;
    top: 10px;
    float: left;
    margin-right: 40px;
}

#search{
    position: absolute;
    right: 70px;
    font-size: 35px;
}
#more{
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 35px;
    display: none;
}

#phone {
    position: relative;
    display: none;
    top: -6px;
    overflow: hidden;
    z-index: 100;
}
#nav_med{
    position: relative;
    display: none;
    width: 100%;
    background-color: #f5f5f5;
    height: 100vh;
    overflow: auto;
    top: -6px;
}
#nav_med ul li{
    box-shadow: 0 0 2px #cccccc;
    line-height: 50px;
    padding-left: 10px;
    background-color: #fff;
}
.bg_gray{
    background-color: #ecebeb !important;
    font-weight: bold;
}
#nav_med ul li i{
    float: right;
}
#nav_med ul li .con{
    display: none;
}
.logIn{
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
    background-color: #f66f6a;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
.logIn a{
    color: #fff;
}

#phone .phone_left {
    min-height: 326px;
    width: 75%;
    float: left;
    background-color: #f5f5f5;
}

#phone .phone_right {
    min-height: 326px;
    width: 25%;
    float: right;
    background-color: #ebebeb;
}

.technicalSupport {
    padding: 40px 15px;
    min-height: 326px;
    position: relative;
}

.technicalSupport ul i{
    display: none;
}
.technicalSupport ul li:hover i{
    display: inline-block;
}
.technicalSupport ul li:hover a{
    text-decoration: underline;
}

.technicalSupport h3 {
    margin-bottom: 25px;
}

.technicalSupport li {
    margin: 20px 0;
}

.technicalSupport p {
    position: absolute;
    bottom: 40px;
}

.phoneTablet {
    padding: 40px 15px;
    min-height: 326px;
    position: relative;
}

.phoneTablet .img, .iconsFather {
    min-height: 326px;
    display: inline-block;
    float: right;
}

.phoneTablet .iconsFather {
    padding: 40px 4% 0 6%;
    width: 50%;
}

.iconsFather .icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iconsFather .icons ul {
    padding-bottom: 40px;
}

.iconsFather .icons ul a p {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 18px;
}
.iconsFather .icons ul a:hover p{
    color: #f66f6a;
}

.iconsFather .icons ul a p i {
    font-size: 18px;
    position: relative;
    margin: 0;
    opacity: 0;
}
.iconsFather .icons ul a:hover i{
    opacity: 1;
    color: black;
}
.iconsFather .icons ul a i {
    text-align: center;
    font-size: 52px;
    margin: 0 50px;
}

#service {
    position: relative;
    display: none;
    top: -6px;
    overflow: hidden;
    z-index: 100;
}

#service .serviceHead {
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
}

#service .serviceHead ul {
    margin: 0 auto;
    text-align: center;
    background-color: #f5f5f5;
}

#service .serviceHead ul li {
    display: inline-block;
    padding: 20px 30px;
    font-size: 18px;
}

#service .serviceHead ul li:hover {
    border-bottom: 5px solid #f66f6a;
}

#service .serviceHead ul li a {
    color: #777777;
}
.service_content{
    width: 100%;
    background: linear-gradient(to right,#f5f5f5,#ebebeb);
}
.serviceContent {
    max-width: 1128px;
    overflow: hidden;
}

.serviceContent .left {
    width: 73%;
    background-color: #f5f5f5;
    float: left;
}

.serviceContent .left .left_top {
    display: flex;
    justify-content: space-between;
}

.serviceContent .left .left_top ul {
    padding: 30px 20px;
}

.serviceContent .left .left_top ul img {
    margin-top: 20px;
}

.serviceContent .left .left_top ul .img_page {
    position: absolute;
    left: 10%;
    text-align: center;
    font-size: 18px;
}

.serviceContent .left .left_top ul .img_page p {
    margin: -40px;
}

.serviceContent .left .left_last a {
    margin-left: 20px;
}

.serviceContent .right {
    width: 27%;
    background-color: #ebebeb;
    float: right;
}

.serviceContent li {
    margin: -30px 0;
}

.serviceContent .right div {
    padding: 30px;
}

.serviceContent ul li a i {
    opacity: 0;
    color: #777777;
    padding-left: 8px;
}

.serviceContent ul li:hover a {
    text-decoration: underline;
}

.serviceContent ul li:hover a i {
    opacity: 1;
}

.icons ul li a i {
    opacity: 0;
}

.icons ul li:hover a {
    color: #f66f6a;
}

#enterprise {

}

#Operator, #Yun {
    display: none;
}


.carousel-wrap {
    position: relative;
    overflow: hidden;
    height: 560px;
    width: 1366px;
    margin: 0 auto;
}

.carousel {
    width: 6830px;
    z-index: 9;
    position: absolute;
    left: -1366px;
    top: 0;
}

.carousel li {
    float: left;
    width: 1366px;
    position: relative;
}

.carousel img {
    width: 100%;
}

.arrow {
    z-index: 10;
    position: absolute;
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    text-decoration: none;
    color: #f66f6a;
    font-size: 30px;
    /*background: rgba(0, 0, 0, .2);*/
    font-weight: 600;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0
}

.indicators {
    z-index: 10;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.indicator {
    float: left;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 41%;
    background: #ccc;
}

.indicator.active {
    background: #333;
}


.carousel li .rotation_contentImg{
    position: absolute;
}
.carousel li .rotation_contentImg img{
    width: auto;
}
.carousel li .rotation_contentImg p{
    position: relative;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}
.carousel li .rotation_contentImg p i{
    font-size: 25px;
}
.carousel li .rotation_contentImg_1{
    top: 32%;
    left: 32%;
}
.carousel li .rotation_contentImg_1 p i{
    font-size: 25px;
    position: absolute;
    left: 60%;
    transition: 0.3s;
}
.carousel li .rotation_contentImg_1 p:hover i{
    left: 63%;
    transition: 0.3s;
}
.carousel li .rotation_contentImg_2{
    top: 34%;
    left: 45%;
}
.carousel li .rotation_contentImg_2 p i{
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 110%;
    transition: 0.3s;
}
.carousel li .rotation_contentImg_2 p:hover i{
    left: 130%;
    transition: 0.3s;
}
.carousel li .rotation_contentImg_3{

}
.rotation_pos{
    position: absolute;
    top: 570px;
    z-index: 100;
}
.rotation_last{
    max-width: 1128px;
    margin: 0 auto;
}
.rotation_last ul{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 0px 50px rgba(0, 0, 0, 0.2);
}
.rotation_last ul li{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.rotation_last ul li div{
    margin-left: 30px;
}
.rotation_last ul li div h2 i{
    font-size: 28px;
    display: none;
}
.rotation_last ul li div:hover i{
    display: inline-block;
    color: #000000;
}
.rotation_last ul li div:hover h2{
    color: #f66f6a;
}
.rotation_last ul li div p{
    font-size: 18px;
    color: #666;
}
.rotation_last ul li img{
    width: 94px;
    height: 133px;
}
.P30_content{
    max-width: 1366px;
    overflow: hidden;
    margin-bottom: 100px;
}
.P30_content .P30_bg{
    width: 90%;
    height: 450px;
    background: linear-gradient(to bottom right, #15b0e8, #59c8d5);
    position: absolute;
}
.P30_content .P30_content{
    width: 50%;
    float: left;
    position: relative;
}
.P30_content .P30_content:hover .P30_img{
    top: 30px;
    transition: 0.2s;
}
.P30_content .P30_content:hover .P30_content h2 i{
    right: 55%;
    transition: 0.2s;
}
.P30_content .P30_content .P30_content h2 i{
    line-height: 35px;
    font-size: 25px;
    position: absolute;
    right: 60%;
    transition: 0.2s;
}
.P30_content .P30_content .P30_img{
    position: absolute;
    right: 0;
    top: 60px;
    transition: 0.2s;
}
.P30_content .P30_content .P30_content{
    margin-top: 100px;
    margin-bottom: 120px;
    margin-left: 170px;
    position: relative;
    display: inline-block;
}
.P30_content .P30_content .P30_content img{
    width: 236px;
    height: 46px;
}
.P30_content .P30_content .P30_content p{
    color: #ffffff;
    font-size: 18px;
    margin: 30px 0;
}
.P30_content .P30_content .P30_content h2{
    margin: 60px 0 90px 0;
    color: #ffffff;
    position: relative;
}
.P30_content .P30_content .P30_content small{
    color: #ffffff;
    font-size: 3px;
    position: absolute;
    bottom: 0;
}
.P30_content .P30_content .mate20_content{
    width: 49%;
    float: left;
}
.P30_content .mate20_content{
    width: 50%;
    float: left;
    position: relative;
}
.mate20_content .mate20{
    width: 452px;
    margin-left: 100px;
    background-color: #dde6ed;
}
.mate20_content .mate20 .mate20_font{
    padding: 40px 60px;
}
.mate20_content .mate20 .mate20_font h1{
    margin: 20px 0;
}
.mate20_content .mate20 .mate20_font h4{
    font-weight: 400;
    font-size: 18px;
    margin: 20px 0;
}
.mate20_content .mate20 .mate20_font h2{
    margin-top: 180px;
    font-weight: 500;
    position: relative;
}
.mate20_content .mate20 .mate20_font h2 i{
    font-size: 30px;
    position: absolute;
    left: 100px;
    transition: 0.2s;
}
.mate20_content .mate20:hover .mate20_font h2 i{
    left: 120px;
    transition: 0.2s;
}

.mateX{
    width: 100%;
    position: relative;
    text-align: center;
}
.mateX .mateX_img{
    position: absolute;
    top: 100px;
    right: 250px;
}
#NO_4{
    display: none;
}
.mateX .mateX_img h2{
    margin: 30px auto;
}

.Exhibition,.Story,.News{
    width: 100%;
    max-width: 1128px;
}
.Exhibition_top,.Story_top,.News_top{
    width: 100%;
    margin-bottom: 50px;
    overflow: hidden;
}
.Exhibition_top h1,.Story_top h1,.News_top h1{
    float: left;
}
.Exhibition_top a ,.Story_top a ,.News_top a{
    font-size: 18px;
    float: right;
    position: relative;
    width: 100px;
}
.Exhibition_top a i,.Story_top a i,.News_top a i{
    font-size: 25px;
    position: absolute;
    right: 8px;
    transition: 0.1s;
}
.Story_top a:hover i{
    right: -5px;
    transition: 0.1s;
}
.Exhibition_top a:hover i{
    right: -5px;
    transition: 0.1s;
}
.News_top a:hover i{
    right: -5px;
    transition: 0.1s;
}
.Exhibition_rotation{
    width: 100%;
}

.Exhibition_rotation .carousel-wrap {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 1128px;
}

.Exhibition_rotation .carousel {
    width: 4512px;
    z-index: 9;
    position: absolute;
    left: -1128px;
    top: 0;
}

.Exhibition_rotation .carousel li {
    float: left;
    width: 1128px;
    /*overflow: hidden;*/
    position: relative;
}

.Exhibition_rotation .carousel li img{
    width: 1128px;
}

.Exhibition_rotation .carousel-wrap .carousel li .Exhibition_rotation_content{
    width: 43%;
    padding: 50px;
    background-color: #dce6ee;
    float: left;
    margin-top: 50px;
    border-radius: 5px;
}
.Exhibition_rotation .carousel-wrap .carousel li img{
    width: 542px;
    height: 520px;
    float: left;
}
.Exhibition_rotation  .arrow-left {
    left: -50px;
}
.Story_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
.Story_content ul li{
    width: 380px;
    text-align: center;
    position: relative;
}
.Story_content ul:hover li{
    text-align: left;
}
.Story_content ul li img{
    border-radius: 5px 5px 0 0;
    z-index: 2;
}
.Story_content .Story_content_font{
    margin: -90px auto;
    width: 314px;
    height: 300px;
    background-color: #dde6ed;
    z-index: 1;
    border-radius: 5px;
}
.Story_content .Story_content_font div{
    padding: 100px 30px 0 30px;
    text-align: left;
}
.Story_content .Story_content_font div h2{
    padding: 70px 0 0 0;
}
.Story_content .Story_content_font .pointer{
    font-weight: 500;
}

.News_content{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.News_content_left{
    margin: 0 0 0 -80px;
}
.News_content_left img{
    width: 400px;
    height: 250px;
    border-radius: 5px 5px 0 0;
}
.News_content_left_font{
    width: 400px;
    background-color: #dde6ed;
    margin-top: -5px;
}
.News_content_left_font div{
    padding: 20px;
}
.News_content_left_font div .pointer{
    font-weight: 500;
    margin-top: 90px;
}
.News_content_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.News_content_right ul h3{
    font-weight: 500;
    cursor: pointer;
}
.News_content_right ul h3:hover{
    text-decoration: underline;
}
.News{
    margin-bottom: 100px;
}
.friendshipLink{
    background: #f0f0f0;
    padding: 60px 0;
}
.friendshipLink_content{
    max-width: 1128px;
    display: flex;
    justify-content: space-between;
}
.friendshipLink_content ul{
    margin-bottom: 30px;
}
.friendshipLink_content ul li{
    padding-bottom: 13px;
}
.bold{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #282828;
    position: relative;
}
.bold i{
    float: right;
    position: absolute;
    left: 100%;
    top: -3px;
    font-size: 30px;
}
.bold:hover i{
    left: 120%;
}
.normal{
    font-size: 16px;
}
.normal:hover{
    text-decoration: underline;
}
.iFont{
    font-size: 25px;
    color: #000000;
}
.iFont:hover{
    color: gray;
}
